Config
Config/*

Datasets
Datasets/*

Output
Output/*

Tmp
Tmp/*

Models/
Models/*
!Models/iwe.py
!Models/flow_metrics.py

Tools/__pycache__
Tools/.ipynb_checkpoints

__pycache__
__pycache__/*

.ipynb_checkpoints
.ipynb_checkpoints/*
